<div ng-controller="CatalogoController" ng-init="getCarrito()">
    <ul class="breadcrumbs">
        <li><a href="/#/">Catalogo</a></li>
        <li class="current">Carrito</li>
    </ul>
    <div id="resumen">
        <div ng-show="sizeCarrito > 0"class="carrito">
            <table>
                <thead>
                <tr>
                    <th>SKU</th><th>Precio Unitario</th><th>Cantidad</th><th>Total</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="producto in carrito">
                    <td><a ng-href="/#/{{producto.sku}}">{{ producto.sku }}</a></td>
                    <td>$ {{ producto.precio | number:2 }} MXN</td>
                    <td>
                        <input ng-model="producto.cantidad" type="number" min="1" value="{{ producto.cantidad }}" ng-change="cambio(producto.sku)"/>
                    </td>
                    <td>$ {{ producto.precio * producto.cantidad | number: 2}} MXN</td>
                    <td><button class="button alert tiny" ng-click="eliminarProducto(producto.sku)">Eliminar</button></td>
                </tr>
                </tbody>
            </table>
            <span class="text-right">Total: $ {{ total | number: 2 }} MXN</span>
        </div>
        <div ng-show="sizeCarrito == 0">
            <div data-alert class="alert-box info">
                <strong>No hay productos en el carrito :(</strong>
                <p>¿Has pasado por nuestro <a ng-href="#/">catalogo</a>?</p>
            </div>
        </div>

    </div>

</div>