<div ng-controller="CatalogoController" ng-init="getProducto()">
    <ul class="breadcrumbs">
        <li><a href="/#/">Catalogo</a></li>
        <li class="current"> {{ producto.sku }}</li>
    </ul>
    <div>
        <h2>{{ producto.description }}</h2>
        <p>Marca: <b>{{producto.brand.name}}</b></p>
        <p>SKU: <b>{{producto.sku}}</b></p>
    </div>


    <div class="row">
        <div class="small-3 medium-4 large-5 columns">
            <div ng-if="producto.pictures.length > 0">
                <slick init-onload="true" data="producto.pictures">
                    <div ng-repeat="picture in producto.pictures">
                        <img data-lazy="http://{{picture}}" alt=""/>
                    </div>
                </slick>
            </div>
            <div class="th" ng-if="producto.pictures.length == 0">
                <img ng-src="http://{{producto.image}}" alt=""/>
            </div>
        </div>

        <div class="small-9 medium-8 large-7 columns">
            <div class="row">
                <div class="small-6 columns">
                    <b>Precio</b>
                    <h2>$ {{ producto.price | number:2}} MXN</h2>
                </div>
                <div class="small-6 columns">
                    <form ng-submit="agregarAlCarrito(producto.sku)">
                        <div class="row collapse">
                            <div class="small-5 columns">
                                <span class="prefix">Cantidad</span>
                            </div>
                            <div class="small-7 columns">
                                <input ng-model="cantidad" name="cantidad" type="number" min="1"  value="1" placeholder="1"/>
                            </div>
                        </div>
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="producto.review != 'NULL'">
        <h3>Descripción del producto</h3>
        <div ng-bind-html="producto.review"></div>
    </div>




</div>